- page_title @group.name, "Groups"
%h3.page-title
  Group: #{@group.name}

  = link_to edit_admin_group_path(@group), class: "btn pull-right" do
    %i.fa.fa-pencil-square-o
    Edit
%hr
.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        Group info:
      %ul.well-list
        %li
          = image_tag group_icon(@group), class: "avatar s60"
        %li
          %span.light Name:
          %strong= @group.name
        %li
          %span.light Path:
          %strong
            = @group.path

        %li
          %span.light Description:
          %strong
            = @group.description

        %li
          %span.light Visibility level:
          %strong
            = visibility_level_label(@group.visibility_level)

        %li
          %span.light Created on:
          %strong
            = @group.created_at.to_s(:medium)

    .panel.panel-default
      .panel-heading Linked LDAP groups
      %ul.well-list
        - if @group.ldap_group_links.any?
          - @group.ldap_group_links.each do |ldap_group_link|
            %li
              cn:
              %strong= ldap_group_link.cn
              as
              %strong= ldap_group_link.human_access

    .panel.panel-default
      .panel-heading
        %h3.panel-title
          Projects
          %span.badge
            #{@group.projects.count}
      %ul.well-list
        - @projects.each do |project|
          %li
            %strong
              = link_to project.name_with_namespace, [:admin, project.namespace.becomes(Namespace), project]
              %span.label.label-gray
                = repository_size(project)
            %span.pull-right.light
              %span.monospace= project.path_with_namespace + ".git"
      .panel-footer
        = paginate @projects, param_name: 'projects_page', theme: 'gitlab'

    - if @group.shared_projects.any?
      .panel.panel-default
        .panel-heading
          Projects shared with #{@group.name}
          %span.badge
            #{@group.shared_projects.count}
        %ul.well-list
          - @group.shared_projects.sort_by(&:name).each do |project|
            %li
              %strong
                = link_to project.name_with_namespace, [:admin, project.namespace.becomes(Namespace), project]
                %span.label.label-gray
                  = repository_size(project)
              %span.pull-right.light
                %span.monospace= project.path_with_namespace + ".git"

  .col-md-6
    - if can?(current_user, :admin_group_member, @group)
      .panel.panel-default
        .panel-heading
          Add user(s) to the group:
        .panel-body.form-holder
          %p.light
            Read more about project permissions
            %strong= link_to "here", help_page_path("user/permissions"), class: "vlink"

          = form_tag members_update_admin_group_path(@group), id: "new_project_member", class: "bulk_import", method: :put  do
            %div
              = users_select_tag(:user_ids, multiple: true, email_user: true, skip_ldap: @group.ldap_synced?, scope: :all)
            %div.prepend-top-10
              = select_tag :access_level, options_for_select(GroupMember.access_level_roles), class: "project-access-select select2"
            %hr
            = button_tag 'Add users to group', class: "btn btn-create"

    = render 'shared/members/requests', membership_source: @group, requesters: @requesters

    .panel.panel-default
      .panel-heading
        %strong= @group.name
        group members
        %span.badge= @group.members.size
        .pull-right
          = link_to icon('pencil-square-o', text: 'Manage Access'), polymorphic_url([@group, :members]), class: "btn btn-xs"
      %ul.well-list.group-users-list.content-list
        = render partial: 'shared/members/member', collection: @members, as: :member, locals: { show_controls: false }
      .panel-footer
        = paginate @members, param_name: 'members_page', theme: 'gitlab'
